h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6, p, .navbar, .brand, a, .td-name, td {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: 'Montserrat', "Helvetica", Arial, sans-serif;
}

.navbar-default {
  background: #e4e2e2;
}

.navbar-inverse {
  background-color: none;
  border: 0px;
}

.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle {
    border-color: #e4e2e2;
}
.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
  background: #e4e2e2;
  border-color: #e4e2e2;
  outline-color: transparent;
}

/*           Animations              */

.form-control, .input-group-addon, .tagsinput, .navbar, .navbar .alert {
  -webkit-transition: all 300ms linear;
  -moz-transition: all 300ms linear;
  -o-transition: all 300ms linear;
  -ms-transition: all 300ms linear;
  transition: all 300ms linear;
}

.navbar {
  min-height: 80px;
  background: url('./../../assets/pattern.png');
  background-color: #d4caca;
}

.vertical-center {
  height: 80px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.navbar-nav {
  margin-top: 5px;
}

@media (min-width: 768px) {
  .navbar-collapse .navbar-nav.navbar-right:last-child {
    margin-right: 45px;
  }
}
@media (max-width: 435px) {
  .navbar-default .navbar-toggle {
    margin-top: 25px;
    border: none;
  }
  .navbar-default .navbar-toggle .icon-bar {
    background-color: #777575;
  }
}

.nav-container {
  margin: 0px 2%;
}

.btn, .navbar .navbar-nav>li>a.btn {
  border-radius: 20px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-width: 2px;
  background-color: #fff;
  font-size: 16px;
  font-weight: 700;
  font-family: sans-serif;
  padding: 7px 18px;
  color: #8c8680;
  width: 125px;
  -webkit-transition: all 150ms linear;
  -o-transition: all 150ms linear;
  transition: all 150ms linear;
}

.btn:hover, .btn:focus, .btn:active, .btn.active, .open>.btn.dropdown-toggle, .navbar .navbar-nav>li>a.btn:hover, .navbar .navbar-nav>li>a.btn:focus, .navbar .navbar-nav>li>a.btn:active, .navbar .navbar-nav>li>a.btn.active, .open>.navbar .navbar-nav>li>a.btn.dropdown-toggle {
  background-color: #66615B;
  color: rgba(255, 255, 255, 0.7);
  border-color: #66615B;
}

.btn:hover .caret, .btn:focus .caret, .btn:active .caret, .btn.active .caret, .open>.btn.dropdown-toggle .caret, .navbar .navbar-nav>li>a.btn:hover .caret, .navbar .navbar-nav>li>a.btn:focus .caret, .navbar .navbar-nav>li>a.btn:active .caret, .navbar .navbar-nav>li>a.btn.active .caret, .open>.navbar .navbar-nav>li>a.btn.dropdown-toggle .caret {
  border-top-color: rgba(255, 255, 255, 0.7);
}

.btn.disabled, .btn.disabled:hover, .btn.disabled:focus, .btn.disabled.focus, .btn.disabled:active, .btn.disabled.active, .btn:disabled, .btn:disabled:hover, .btn:disabled:focus, .btn:disabled.focus, .btn:disabled:active, .btn:disabled.active, .btn[disabled], .btn[disabled]:hover, .btn[disabled]:focus, .btn[disabled].focus, .btn[disabled]:active, .btn[disabled].active, fieldset[disabled] .btn, fieldset[disabled] .btn:hover, fieldset[disabled] .btn:focus, fieldset[disabled] .btn.focus, fieldset[disabled] .btn:active, fieldset[disabled] .btn.active, .navbar .navbar-nav>li>a.btn.disabled, .navbar .navbar-nav>li>a.btn.disabled:hover, .navbar .navbar-nav>li>a.btn.disabled:focus, .navbar .navbar-nav>li>a.btn.disabled.focus, .navbar .navbar-nav>li>a.btn.disabled:active, .navbar .navbar-nav>li>a.btn.disabled.active, .navbar .navbar-nav>li>a.btn:disabled, .navbar .navbar-nav>li>a.btn:disabled:hover, .navbar .navbar-nav>li>a.btn:disabled:focus, .navbar .navbar-nav>li>a.btn:disabled.focus, .navbar .navbar-nav>li>a.btn:disabled:active, .navbar .navbar-nav>li>a.btn:disabled.active, .navbar .navbar-nav>li>a.btn[disabled], .navbar .navbar-nav>li>a.btn[disabled]:hover, .navbar .navbar-nav>li>a.btn[disabled]:focus, .navbar .navbar-nav>li>a.btn[disabled].focus, .navbar .navbar-nav>li>a.btn[disabled]:active, .navbar .navbar-nav>li>a.btn[disabled].active, fieldset[disabled] .navbar .navbar-nav>li>a.btn, fieldset[disabled] .navbar .navbar-nav>li>a.btn:hover, fieldset[disabled] .navbar .navbar-nav>li>a.btn:focus, fieldset[disabled] .navbar .navbar-nav>li>a.btn.focus, fieldset[disabled] .navbar .navbar-nav>li>a.btn:active, fieldset[disabled] .navbar .navbar-nav>li>a.btn.active {
  background-color: transparent;
  border-color: #66615B;
}

.btn.btn-fill, .navbar .navbar-nav>li>a.btn.btn-fill {
  color: #FFFFFF;
  background-color: #66615B;
  opacity: 1;
  filter: alpha(opacity=100);
}

.btn.btn-fill:hover, .btn.btn-fill:focus, .btn.btn-fill:active, .btn.btn-fill.active, .open>.btn.btn-fill.dropdown-toggle, .navbar .navbar-nav>li>a.btn.btn-fill:hover, .navbar .navbar-nav>li>a.btn.btn-fill:focus, .navbar .navbar-nav>li>a.btn.btn-fill:active, .navbar .navbar-nav>li>a.btn.btn-fill.active, .open>.navbar .navbar-nav>li>a.btn.btn-fill.dropdown-toggle {
  background-color: #403D39;
  color: #FFFFFF;
  border-color: #403D39;
}

.btn.btn-fill .caret, .navbar .navbar-nav>li>a.btn.btn-fill .caret {
  border-top-color: #FFFFFF;
}

.btn.btn-simple:hover, .btn.btn-simple:focus, .btn.btn-simple:active, .btn.btn-simple.active, .open>.btn.btn-simple.dropdown-toggle, .navbar .navbar-nav>li>a.btn.btn-simple:hover, .navbar .navbar-nav>li>a.btn.btn-simple:focus, .navbar .navbar-nav>li>a.btn.btn-simple:active, .navbar .navbar-nav>li>a.btn.btn-simple.active, .open>.navbar .navbar-nav>li>a.btn.btn-simple.dropdown-toggle {
  background-color: transparent;
  color: #403D39;
}

.btn.btn-simple .caret, .navbar .navbar-nav>li>a.btn.btn-simple .caret {
  border-top-color: #FFFFFF;
}

.btn .caret, .navbar .navbar-nav>li>a.btn .caret {
  border-top-color: #66615B;
}

.btn:hover, .btn:focus, .navbar .navbar-nav>li>a.btn:hover, .navbar .navbar-nav>li>a.btn:focus {
  outline: 0 !important;
}

.btn:active, .btn.active, .open>.btn.dropdown-toggle, .navbar .navbar-nav>li>a.btn:active, .navbar .navbar-nav>li>a.btn.active, .open>.navbar .navbar-nav>li>a.btn.dropdown-toggle {
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: 0 !important;
}

.btn.btn-icon, .navbar .navbar-nav>li>a.btn.btn-icon {
  padding: 7px;
}

.btn i, .navbar .navbar-nav>li>a.btn i {
  margin-right: 5px;
}

.btn-group .btn+.btn, .btn-group .btn+.btn-group, .btn-group .btn-group+.btn, .btn-group .btn-group+.btn-group {
  margin-left: -2px;
}

.navbar .navbar-nav>li>a.btn-primary, .btn-primary {
  border-color: #7A9E9F;
  color: #7A9E9F;
}

.navbar .navbar-nav>li>a.btn-primary:hover, .navbar .navbar-nav>li>a.btn-primary:focus, .navbar .navbar-nav>li>a.btn-primary:active, .navbar .navbar-nav>li>a.btn-primary.active, .open>.navbar .navbar-nav>li>a.btn-primary.dropdown-toggle, .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.btn-primary.dropdown-toggle {
  background-color: #7A9E9F;
  color: rgba(255, 255, 255, 0.7);
  border-color: #7A9E9F;
}

.navbar .navbar-nav>li>a.btn-primary:hover .caret, .navbar .navbar-nav>li>a.btn-primary:focus .caret, .navbar .navbar-nav>li>a.btn-primary:active .caret, .navbar .navbar-nav>li>a.btn-primary.active .caret, .open>.navbar .navbar-nav>li>a.btn-primary.dropdown-toggle .caret, .btn-primary:hover .caret, .btn-primary:focus .caret, .btn-primary:active .caret, .btn-primary.active .caret, .open>.btn-primary.dropdown-toggle .caret {
  border-top-color: rgba(255, 255, 255, 0.7);
}

.navbar .navbar-nav>li>a.btn-primary.disabled, .navbar .navbar-nav>li>a.btn-primary.disabled:hover, .navbar .navbar-nav>li>a.btn-primary.disabled:focus, .navbar .navbar-nav>li>a.btn-primary.disabled.focus, .navbar .navbar-nav>li>a.btn-primary.disabled:active, .navbar .navbar-nav>li>a.btn-primary.disabled.active, .navbar .navbar-nav>li>a.btn-primary:disabled, .navbar .navbar-nav>li>a.btn-primary:disabled:hover, .navbar .navbar-nav>li>a.btn-primary:disabled:focus, .navbar .navbar-nav>li>a.btn-primary:disabled.focus, .navbar .navbar-nav>li>a.btn-primary:disabled:active, .navbar .navbar-nav>li>a.btn-primary:disabled.active, .navbar .navbar-nav>li>a.btn-primary[disabled], .navbar .navbar-nav>li>a.btn-primary[disabled]:hover, .navbar .navbar-nav>li>a.btn-primary[disabled]:focus, .navbar .navbar-nav>li>a.btn-primary[disabled].focus, .navbar .navbar-nav>li>a.btn-primary[disabled]:active, .navbar .navbar-nav>li>a.btn-primary[disabled].active, fieldset[disabled] .navbar .navbar-nav>li>a.btn-primary, fieldset[disabled] .navbar .navbar-nav>li>a.btn-primary:hover, fieldset[disabled] .navbar .navbar-nav>li>a.btn-primary:focus, fieldset[disabled] .navbar .navbar-nav>li>a.btn-primary.focus, fieldset[disabled] .navbar .navbar-nav>li>a.btn-primary:active, fieldset[disabled] .navbar .navbar-nav>li>a.btn-primary.active, .btn-primary.disabled, .btn-primary.disabled:hover, .btn-primary.disabled:focus, .btn-primary.disabled.focus, .btn-primary.disabled:active, .btn-primary.disabled.active, .btn-primary:disabled, .btn-primary:disabled:hover, .btn-primary:disabled:focus, .btn-primary:disabled.focus, .btn-primary:disabled:active, .btn-primary:disabled.active, .btn-primary[disabled], .btn-primary[disabled]:hover, .btn-primary[disabled]:focus, .btn-primary[disabled].focus, .btn-primary[disabled]:active, .btn-primary[disabled].active, fieldset[disabled] .btn-primary, fieldset[disabled] .btn-primary:hover, fieldset[disabled] .btn-primary:focus, fieldset[disabled] .btn-primary.focus, fieldset[disabled] .btn-primary:active, fieldset[disabled] .btn-primary.active {
  background-color: transparent;
  border-color: #7A9E9F;
}

.navbar .navbar-nav>li>a.btn-primary.btn-fill, .btn-primary.btn-fill {
  color: #FFFFFF;
  background-color: #7A9E9F;
  opacity: 1;
  filter: alpha(opacity=100);
}

.navbar .navbar-nav>li>a.btn-primary.btn-fill:hover, .navbar .navbar-nav>li>a.btn-primary.btn-fill:focus, .navbar .navbar-nav>li>a.btn-primary.btn-fill:active, .navbar .navbar-nav>li>a.btn-primary.btn-fill.active, .open>.navbar .navbar-nav>li>a.btn-primary.btn-fill.dropdown-toggle, .btn-primary.btn-fill:hover, .btn-primary.btn-fill:focus, .btn-primary.btn-fill:active, .btn-primary.btn-fill.active, .open>.btn-primary.btn-fill.dropdown-toggle {
  background-color: #427C89;
  color: #FFFFFF;
  border-color: #427C89;
}

.navbar .navbar-nav>li>a.btn-primary.btn-fill .caret, .btn-primary.btn-fill .caret {
  border-top-color: #FFFFFF;
}

.navbar .navbar-nav>li>a.btn-primary.btn-simple:hover, .navbar .navbar-nav>li>a.btn-primary.btn-simple:focus, .navbar .navbar-nav>li>a.btn-primary.btn-simple:active, .navbar .navbar-nav>li>a.btn-primary.btn-simple.active, .open>.navbar .navbar-nav>li>a.btn-primary.btn-simple.dropdown-toggle, .btn-primary.btn-simple:hover, .btn-primary.btn-simple:focus, .btn-primary.btn-simple:active, .btn-primary.btn-simple.active, .open>.btn-primary.btn-simple.dropdown-toggle {
  background-color: transparent;
  color: #427C89;
}

.navbar .navbar-nav>li>a.btn-primary.btn-simple .caret, .btn-primary.btn-simple .caret {
  border-top-color: #FFFFFF;
}

.navbar .navbar-nav>li>a.btn-primary .caret, .btn-primary .caret {
  border-top-color: #7A9E9F;
}

.navbar .navbar-nav>li>a.btn-success, .btn-success {
  border-color: #7AC29A;
  color: #7AC29A;
}

.navbar .navbar-nav>li>a.btn-success:hover, .navbar .navbar-nav>li>a.btn-success:focus, .navbar .navbar-nav>li>a.btn-success:active, .navbar .navbar-nav>li>a.btn-success.active, .open>.navbar .navbar-nav>li>a.btn-success.dropdown-toggle, .btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active, .open>.btn-success.dropdown-toggle {
  background-color: #7AC29A;
  color: rgba(255, 255, 255, 0.7);
  border-color: #7AC29A;
}

.navbar .navbar-nav>li>a.btn-success:hover .caret, .navbar .navbar-nav>li>a.btn-success:focus .caret, .navbar .navbar-nav>li>a.btn-success:active .caret, .navbar .navbar-nav>li>a.btn-success.active .caret, .open>.navbar .navbar-nav>li>a.btn-success.dropdown-toggle .caret, .btn-success:hover .caret, .btn-success:focus .caret, .btn-success:active .caret, .btn-success.active .caret, .open>.btn-success.dropdown-toggle .caret {
  border-top-color: rgba(255, 255, 255, 0.7);
}

.navbar .navbar-nav>li>a.btn-success.disabled, .navbar .navbar-nav>li>a.btn-success.disabled:hover, .navbar .navbar-nav>li>a.btn-success.disabled:focus, .navbar .navbar-nav>li>a.btn-success.disabled.focus, .navbar .navbar-nav>li>a.btn-success.disabled:active, .navbar .navbar-nav>li>a.btn-success.disabled.active, .navbar .navbar-nav>li>a.btn-success:disabled, .navbar .navbar-nav>li>a.btn-success:disabled:hover, .navbar .navbar-nav>li>a.btn-success:disabled:focus, .navbar .navbar-nav>li>a.btn-success:disabled.focus, .navbar .navbar-nav>li>a.btn-success:disabled:active, .navbar .navbar-nav>li>a.btn-success:disabled.active, .navbar .navbar-nav>li>a.btn-success[disabled], .navbar .navbar-nav>li>a.btn-success[disabled]:hover, .navbar .navbar-nav>li>a.btn-success[disabled]:focus, .navbar .navbar-nav>li>a.btn-success[disabled].focus, .navbar .navbar-nav>li>a.btn-success[disabled]:active, .navbar .navbar-nav>li>a.btn-success[disabled].active, fieldset[disabled] .navbar .navbar-nav>li>a.btn-success, fieldset[disabled] .navbar .navbar-nav>li>a.btn-success:hover, fieldset[disabled] .navbar .navbar-nav>li>a.btn-success:focus, fieldset[disabled] .navbar .navbar-nav>li>a.btn-success.focus, fieldset[disabled] .navbar .navbar-nav>li>a.btn-success:active, fieldset[disabled] .navbar .navbar-nav>li>a.btn-success.active, .btn-success.disabled, .btn-success.disabled:hover, .btn-success.disabled:focus, .btn-success.disabled.focus, .btn-success.disabled:active, .btn-success.disabled.active, .btn-success:disabled, .btn-success:disabled:hover, .btn-success:disabled:focus, .btn-success:disabled.focus, .btn-success:disabled:active, .btn-success:disabled.active, .btn-success[disabled], .btn-success[disabled]:hover, .btn-success[disabled]:focus, .btn-success[disabled].focus, .btn-success[disabled]:active, .btn-success[disabled].active, fieldset[disabled] .btn-success, fieldset[disabled] .btn-success:hover, fieldset[disabled] .btn-success:focus, fieldset[disabled] .btn-success.focus, fieldset[disabled] .btn-success:active, fieldset[disabled] .btn-success.active {
  background-color: transparent;
  border-color: #7AC29A;
}

.navbar .navbar-nav>li>a.btn-success.btn-fill, .btn-success.btn-fill {
  color: #FFFFFF;
  background-color: #7AC29A;
  opacity: 1;
  filter: alpha(opacity=100);
}

.navbar .navbar-nav>li>a.btn-success.btn-fill:hover, .navbar .navbar-nav>li>a.btn-success.btn-fill:focus, .navbar .navbar-nav>li>a.btn-success.btn-fill:active, .navbar .navbar-nav>li>a.btn-success.btn-fill.active, .open>.navbar .navbar-nav>li>a.btn-success.btn-fill.dropdown-toggle, .btn-success.btn-fill:hover, .btn-success.btn-fill:focus, .btn-success.btn-fill:active, .btn-success.btn-fill.active, .open>.btn-success.btn-fill.dropdown-toggle {
  background-color: #42A084;
  color: #FFFFFF;
  border-color: #42A084;
}

.navbar .navbar-nav>li>a.btn-success.btn-fill .caret, .btn-success.btn-fill .caret {
  border-top-color: #FFFFFF;
}

.navbar .navbar-nav>li>a.btn-success.btn-simple:hover, .navbar .navbar-nav>li>a.btn-success.btn-simple:focus, .navbar .navbar-nav>li>a.btn-success.btn-simple:active, .navbar .navbar-nav>li>a.btn-success.btn-simple.active, .open>.navbar .navbar-nav>li>a.btn-success.btn-simple.dropdown-toggle, .btn-success.btn-simple:hover, .btn-success.btn-simple:focus, .btn-success.btn-simple:active, .btn-success.btn-simple.active, .open>.btn-success.btn-simple.dropdown-toggle {
  background-color: transparent;
  color: #42A084;
}

.navbar .navbar-nav>li>a.btn-success.btn-simple .caret, .btn-success.btn-simple .caret {
  border-top-color: #FFFFFF;
}

.navbar .navbar-nav>li>a.btn-success .caret, .btn-success .caret {
  border-top-color: #7AC29A;
}

.navbar .navbar-nav>li>a.btn-info, .btn-info {
  border-color: #68B3C8;
  color: #68B3C8;
}

.navbar .navbar-nav>li>a.btn-info:hover, .navbar .navbar-nav>li>a.btn-info:focus, .navbar .navbar-nav>li>a.btn-info:active, .navbar .navbar-nav>li>a.btn-info.active, .open>.navbar .navbar-nav>li>a.btn-info.dropdown-toggle, .btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info.active, .open>.btn-info.dropdown-toggle {
  background-color: #68B3C8;
  color: rgba(255, 255, 255, 0.7);
  border-color: #68B3C8;
}

.navbar .navbar-nav>li>a.btn-info:hover .caret, .navbar .navbar-nav>li>a.btn-info:focus .caret, .navbar .navbar-nav>li>a.btn-info:active .caret, .navbar .navbar-nav>li>a.btn-info.active .caret, .open>.navbar .navbar-nav>li>a.btn-info.dropdown-toggle .caret, .btn-info:hover .caret, .btn-info:focus .caret, .btn-info:active .caret, .btn-info.active .caret, .open>.btn-info.dropdown-toggle .caret {
  border-top-color: rgba(255, 255, 255, 0.7);
}

.navbar .navbar-nav>li>a.btn-info.disabled, .navbar .navbar-nav>li>a.btn-info.disabled:hover, .navbar .navbar-nav>li>a.btn-info.disabled:focus, .navbar .navbar-nav>li>a.btn-info.disabled.focus, .navbar .navbar-nav>li>a.btn-info.disabled:active, .navbar .navbar-nav>li>a.btn-info.disabled.active, .navbar .navbar-nav>li>a.btn-info:disabled, .navbar .navbar-nav>li>a.btn-info:disabled:hover, .navbar .navbar-nav>li>a.btn-info:disabled:focus, .navbar .navbar-nav>li>a.btn-info:disabled.focus, .navbar .navbar-nav>li>a.btn-info:disabled:active, .navbar .navbar-nav>li>a.btn-info:disabled.active, .navbar .navbar-nav>li>a.btn-info[disabled], .navbar .navbar-nav>li>a.btn-info[disabled]:hover, .navbar .navbar-nav>li>a.btn-info[disabled]:focus, .navbar .navbar-nav>li>a.btn-info[disabled].focus, .navbar .navbar-nav>li>a.btn-info[disabled]:active, .navbar .navbar-nav>li>a.btn-info[disabled].active, fieldset[disabled] .navbar .navbar-nav>li>a.btn-info, fieldset[disabled] .navbar .navbar-nav>li>a.btn-info:hover, fieldset[disabled] .navbar .navbar-nav>li>a.btn-info:focus, fieldset[disabled] .navbar .navbar-nav>li>a.btn-info.focus, fieldset[disabled] .navbar .navbar-nav>li>a.btn-info:active, fieldset[disabled] .navbar .navbar-nav>li>a.btn-info.active, .btn-info.disabled, .btn-info.disabled:hover, .btn-info.disabled:focus, .btn-info.disabled.focus, .btn-info.disabled:active, .btn-info.disabled.active, .btn-info:disabled, .btn-info:disabled:hover, .btn-info:disabled:focus, .btn-info:disabled.focus, .btn-info:disabled:active, .btn-info:disabled.active, .btn-info[disabled], .btn-info[disabled]:hover, .btn-info[disabled]:focus, .btn-info[disabled].focus, .btn-info[disabled]:active, .btn-info[disabled].active, fieldset[disabled] .btn-info, fieldset[disabled] .btn-info:hover, fieldset[disabled] .btn-info:focus, fieldset[disabled] .btn-info.focus, fieldset[disabled] .btn-info:active, fieldset[disabled] .btn-info.active {
  background-color: transparent;
  border-color: #68B3C8;
}

.navbar .navbar-nav>li>a.btn-info.btn-fill, .btn-info.btn-fill {
  color: #FFFFFF;
  background-color: #68B3C8;
  opacity: 1;
  filter: alpha(opacity=100);
}

.navbar .navbar-nav>li>a.btn-info.btn-fill:hover, .navbar .navbar-nav>li>a.btn-info.btn-fill:focus, .navbar .navbar-nav>li>a.btn-info.btn-fill:active, .navbar .navbar-nav>li>a.btn-info.btn-fill.active, .open>.navbar .navbar-nav>li>a.btn-info.btn-fill.dropdown-toggle, .btn-info.btn-fill:hover, .btn-info.btn-fill:focus, .btn-info.btn-fill:active, .btn-info.btn-fill.active, .open>.btn-info.btn-fill.dropdown-toggle {
  background-color: #3091B2;
  color: #FFFFFF;
  border-color: #3091B2;
}

.navbar .navbar-nav>li>a.btn-info.btn-fill .caret, .btn-info.btn-fill .caret {
  border-top-color: #FFFFFF;
}

.navbar .navbar-nav>li>a.btn-info.btn-simple:hover, .navbar .navbar-nav>li>a.btn-info.btn-simple:focus, .navbar .navbar-nav>li>a.btn-info.btn-simple:active, .navbar .navbar-nav>li>a.btn-info.btn-simple.active, .open>.navbar .navbar-nav>li>a.btn-info.btn-simple.dropdown-toggle, .btn-info.btn-simple:hover, .btn-info.btn-simple:focus, .btn-info.btn-simple:active, .btn-info.btn-simple.active, .open>.btn-info.btn-simple.dropdown-toggle {
  background-color: transparent;
  color: #3091B2;
}

.navbar .navbar-nav>li>a.btn-info.btn-simple .caret, .btn-info.btn-simple .caret {
  border-top-color: #FFFFFF;
}

.navbar .navbar-nav>li>a.btn-info .caret, .btn-info .caret {
  border-top-color: #68B3C8;
}

.navbar .navbar-nav>li>a.btn-warning, .btn-warning {
  border-color: #F3BB45;
  color: #F3BB45;
}

.navbar .navbar-nav>li>a.btn-warning:hover, .navbar .navbar-nav>li>a.btn-warning:focus, .navbar .navbar-nav>li>a.btn-warning:active, .navbar .navbar-nav>li>a.btn-warning.active, .open>.navbar .navbar-nav>li>a.btn-warning.dropdown-toggle, .btn-warning:hover, .btn-warning:focus, .btn-warning:active, .btn-warning.active, .open>.btn-warning.dropdown-toggle {
  background-color: #F3BB45;
  color: rgba(255, 255, 255, 0.7);
  border-color: #F3BB45;
}

.navbar .navbar-nav>li>a.btn-warning:hover .caret, .navbar .navbar-nav>li>a.btn-warning:focus .caret, .navbar .navbar-nav>li>a.btn-warning:active .caret, .navbar .navbar-nav>li>a.btn-warning.active .caret, .open>.navbar .navbar-nav>li>a.btn-warning.dropdown-toggle .caret, .btn-warning:hover .caret, .btn-warning:focus .caret, .btn-warning:active .caret, .btn-warning.active .caret, .open>.btn-warning.dropdown-toggle .caret {
  border-top-color: rgba(255, 255, 255, 0.7);
}

.navbar .navbar-nav>li>a.btn-warning.disabled, .navbar .navbar-nav>li>a.btn-warning.disabled:hover, .navbar .navbar-nav>li>a.btn-warning.disabled:focus, .navbar .navbar-nav>li>a.btn-warning.disabled.focus, .navbar .navbar-nav>li>a.btn-warning.disabled:active, .navbar .navbar-nav>li>a.btn-warning.disabled.active, .navbar .navbar-nav>li>a.btn-warning:disabled, .navbar .navbar-nav>li>a.btn-warning:disabled:hover, .navbar .navbar-nav>li>a.btn-warning:disabled:focus, .navbar .navbar-nav>li>a.btn-warning:disabled.focus, .navbar .navbar-nav>li>a.btn-warning:disabled:active, .navbar .navbar-nav>li>a.btn-warning:disabled.active, .navbar .navbar-nav>li>a.btn-warning[disabled], .navbar .navbar-nav>li>a.btn-warning[disabled]:hover, .navbar .navbar-nav>li>a.btn-warning[disabled]:focus, .navbar .navbar-nav>li>a.btn-warning[disabled].focus, .navbar .navbar-nav>li>a.btn-warning[disabled]:active, .navbar .navbar-nav>li>a.btn-warning[disabled].active, fieldset[disabled] .navbar .navbar-nav>li>a.btn-warning, fieldset[disabled] .navbar .navbar-nav>li>a.btn-warning:hover, fieldset[disabled] .navbar .navbar-nav>li>a.btn-warning:focus, fieldset[disabled] .navbar .navbar-nav>li>a.btn-warning.focus, fieldset[disabled] .navbar .navbar-nav>li>a.btn-warning:active, fieldset[disabled] .navbar .navbar-nav>li>a.btn-warning.active, .btn-warning.disabled, .btn-warning.disabled:hover, .btn-warning.disabled:focus, .btn-warning.disabled.focus, .btn-warning.disabled:active, .btn-warning.disabled.active, .btn-warning:disabled, .btn-warning:disabled:hover, .btn-warning:disabled:focus, .btn-warning:disabled.focus, .btn-warning:disabled:active, .btn-warning:disabled.active, .btn-warning[disabled], .btn-warning[disabled]:hover, .btn-warning[disabled]:focus, .btn-warning[disabled].focus, .btn-warning[disabled]:active, .btn-warning[disabled].active, fieldset[disabled] .btn-warning, fieldset[disabled] .btn-warning:hover, fieldset[disabled] .btn-warning:focus, fieldset[disabled] .btn-warning.focus, fieldset[disabled] .btn-warning:active, fieldset[disabled] .btn-warning.active {
  background-color: transparent;
  border-color: #F3BB45;
}

.navbar .navbar-nav>li>a.btn-warning.btn-fill, .btn-warning.btn-fill {
  color: #FFFFFF;
  background-color: #F3BB45;
  opacity: 1;
  filter: alpha(opacity=100);
}

.navbar .navbar-nav>li>a.btn-warning.btn-fill:hover, .navbar .navbar-nav>li>a.btn-warning.btn-fill:focus, .navbar .navbar-nav>li>a.btn-warning.btn-fill:active, .navbar .navbar-nav>li>a.btn-warning.btn-fill.active, .open>.navbar .navbar-nav>li>a.btn-warning.btn-fill.dropdown-toggle, .btn-warning.btn-fill:hover, .btn-warning.btn-fill:focus, .btn-warning.btn-fill:active, .btn-warning.btn-fill.active, .open>.btn-warning.btn-fill.dropdown-toggle {
  background-color: #BB992F;
  color: #FFFFFF;
  border-color: #BB992F;
}

.navbar .navbar-nav>li>a.btn-warning.btn-fill .caret, .btn-warning.btn-fill .caret {
  border-top-color: #FFFFFF;
}

.navbar .navbar-nav>li>a.btn-warning.btn-simple:hover, .navbar .navbar-nav>li>a.btn-warning.btn-simple:focus, .navbar .navbar-nav>li>a.btn-warning.btn-simple:active, .navbar .navbar-nav>li>a.btn-warning.btn-simple.active, .open>.navbar .navbar-nav>li>a.btn-warning.btn-simple.dropdown-toggle, .btn-warning.btn-simple:hover, .btn-warning.btn-simple:focus, .btn-warning.btn-simple:active, .btn-warning.btn-simple.active, .open>.btn-warning.btn-simple.dropdown-toggle {
  background-color: transparent;
  color: #BB992F;
}

.navbar .navbar-nav>li>a.btn-warning.btn-simple .caret, .btn-warning.btn-simple .caret {
  border-top-color: #FFFFFF;
}

.navbar .navbar-nav>li>a.btn-warning .caret, .btn-warning .caret {
  border-top-color: #F3BB45;
}

.navbar .navbar-nav>li>a.btn-danger, .btn-danger {
  border-color: #EB5E28;
  color: #EB5E28;
}

.navbar .navbar-nav>li>a.btn-danger:hover, .navbar .navbar-nav>li>a.btn-danger:focus, .navbar .navbar-nav>li>a.btn-danger:active, .navbar .navbar-nav>li>a.btn-danger.active, .open>.navbar .navbar-nav>li>a.btn-danger.dropdown-toggle, .btn-danger:hover, .btn-danger:focus, .btn-danger:active, .btn-danger.active, .open>.btn-danger.dropdown-toggle {
  background-color: #EB5E28;
  color: rgba(255, 255, 255, 0.7);
  border-color: #EB5E28;
}

.navbar .navbar-nav>li>a.btn-danger:hover .caret, .navbar .navbar-nav>li>a.btn-danger:focus .caret, .navbar .navbar-nav>li>a.btn-danger:active .caret, .navbar .navbar-nav>li>a.btn-danger.active .caret, .open>.navbar .navbar-nav>li>a.btn-danger.dropdown-toggle .caret, .btn-danger:hover .caret, .btn-danger:focus .caret, .btn-danger:active .caret, .btn-danger.active .caret, .open>.btn-danger.dropdown-toggle .caret {
  border-top-color: rgba(255, 255, 255, 0.7);
}

.navbar .navbar-nav>li>a.btn-danger.disabled, .navbar .navbar-nav>li>a.btn-danger.disabled:hover, .navbar .navbar-nav>li>a.btn-danger.disabled:focus, .navbar .navbar-nav>li>a.btn-danger.disabled.focus, .navbar .navbar-nav>li>a.btn-danger.disabled:active, .navbar .navbar-nav>li>a.btn-danger.disabled.active, .navbar .navbar-nav>li>a.btn-danger:disabled, .navbar .navbar-nav>li>a.btn-danger:disabled:hover, .navbar .navbar-nav>li>a.btn-danger:disabled:focus, .navbar .navbar-nav>li>a.btn-danger:disabled.focus, .navbar .navbar-nav>li>a.btn-danger:disabled:active, .navbar .navbar-nav>li>a.btn-danger:disabled.active, .navbar .navbar-nav>li>a.btn-danger[disabled], .navbar .navbar-nav>li>a.btn-danger[disabled]:hover, .navbar .navbar-nav>li>a.btn-danger[disabled]:focus, .navbar .navbar-nav>li>a.btn-danger[disabled].focus, .navbar .navbar-nav>li>a.btn-danger[disabled]:active, .navbar .navbar-nav>li>a.btn-danger[disabled].active, fieldset[disabled] .navbar .navbar-nav>li>a.btn-danger, fieldset[disabled] .navbar .navbar-nav>li>a.btn-danger:hover, fieldset[disabled] .navbar .navbar-nav>li>a.btn-danger:focus, fieldset[disabled] .navbar .navbar-nav>li>a.btn-danger.focus, fieldset[disabled] .navbar .navbar-nav>li>a.btn-danger:active, fieldset[disabled] .navbar .navbar-nav>li>a.btn-danger.active, .btn-danger.disabled, .btn-danger.disabled:hover, .btn-danger.disabled:focus, .btn-danger.disabled.focus, .btn-danger.disabled:active, .btn-danger.disabled.active, .btn-danger:disabled, .btn-danger:disabled:hover, .btn-danger:disabled:focus, .btn-danger:disabled.focus, .btn-danger:disabled:active, .btn-danger:disabled.active, .btn-danger[disabled], .btn-danger[disabled]:hover, .btn-danger[disabled]:focus, .btn-danger[disabled].focus, .btn-danger[disabled]:active, .btn-danger[disabled].active, fieldset[disabled] .btn-danger, fieldset[disabled] .btn-danger:hover, fieldset[disabled] .btn-danger:focus, fieldset[disabled] .btn-danger.focus, fieldset[disabled] .btn-danger:active, fieldset[disabled] .btn-danger.active {
  background-color: transparent;
  border-color: #EB5E28;
}

.navbar .navbar-nav>li>a.btn-danger.btn-fill, .btn-danger.btn-fill {
  color: #FFFFFF;
  background-color: #EB5E28;
  opacity: 1;
  filter: alpha(opacity=100);
}

.navbar .navbar-nav>li>a.btn-danger.btn-fill:hover, .navbar .navbar-nav>li>a.btn-danger.btn-fill:focus, .navbar .navbar-nav>li>a.btn-danger.btn-fill:active, .navbar .navbar-nav>li>a.btn-danger.btn-fill.active, .open>.navbar .navbar-nav>li>a.btn-danger.btn-fill.dropdown-toggle, .btn-danger.btn-fill:hover, .btn-danger.btn-fill:focus, .btn-danger.btn-fill:active, .btn-danger.btn-fill.active, .open>.btn-danger.btn-fill.dropdown-toggle {
  background-color: #B33C12;
  color: #FFFFFF;
  border-color: #B33C12;
}

.navbar .navbar-nav>li>a.btn-danger.btn-fill .caret, .btn-danger.btn-fill .caret {
  border-top-color: #FFFFFF;
}

.navbar .navbar-nav>li>a.btn-danger.btn-simple:hover, .navbar .navbar-nav>li>a.btn-danger.btn-simple:focus, .navbar .navbar-nav>li>a.btn-danger.btn-simple:active, .navbar .navbar-nav>li>a.btn-danger.btn-simple.active, .open>.navbar .navbar-nav>li>a.btn-danger.btn-simple.dropdown-toggle, .btn-danger.btn-simple:hover, .btn-danger.btn-simple:focus, .btn-danger.btn-simple:active, .btn-danger.btn-simple.active, .open>.btn-danger.btn-simple.dropdown-toggle {
  background-color: transparent;
  color: #B33C12;
}

.navbar .navbar-nav>li>a.btn-danger.btn-simple .caret, .btn-danger.btn-simple .caret {
  border-top-color: #FFFFFF;
}

.navbar .navbar-nav>li>a.btn-danger .caret, .btn-danger .caret {
  border-top-color: #EB5E28;
}
