.left-side {
  background: url("./../../../assets/pattern.png");
  background-color: #d4caca;
}
.shadow {
 box-shadow: 0 0 50px rgba(0,0,0,0.5);
 padding: 10px;
}

.auth-card {
  width: 60%;
  margin-top: 100px;
  border-radius: 10px;
  overflow: hidden;
}

.clear-padding {
  padding: 0px;
}

.card-container {
  height: 70vh;
}

.left-side,.right-side {
  height: inherit;
  padding: 0px;
}

.card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: inherit;
}

.card-content .text {
  font-size: 35px;
  font-weight: bold;
  color: #848c94;
  font-family: sans-serif;
}

.content-area {
  margin-bottom: 20px;
}

.btn-auth {
  width:50%;
  height: 43px;
  color:#fff;
}

.btn-auth i {
  float: left;
  font-size: 18px;
}

.btn-facebook {
  background-color: #3b5998;
}

.btn-facebook:hover {
  color: #3b5998;
  border-color: #3b5998;
  background-color: #fff;
}

.btn-google {
  background-color: #dd4b39;
}

.btn-google:hover {
  color: #dd4b39;
  border-color: #dd4b39;
  background-color: #fff;
}

.btn-email {
  color: #b3b0b0;
  border: 1px solid #b3b0b0;
}

.btn-email:hover {
  color: #000;
  border-color: #000;
  background-color: #fff
}

.logo {
  width: 100px;
}

@media (max-width: 1024px) {
  .card-content .text {
    font-size: 30px;
  }
}

@media (max-width: 768px) {
  .auth-card {
    overflow: visible;
    margin-top: 50px;
  }
  .card-container {
    height: 40vh;
  }
  .left-side {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  .right-side {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    -webkit-box-shadow: 0 0 50px rgba(0,0,0,0.5);
    box-shadow: 0 0 50px rgba(0,0,0,0.5);
    padding: 10px;
  }
}

@media (max-width: 425px) {
  .auth-card {
    width: 85%;
  }
  .btn-auth {
    width: 70%;
  }
}

@media (max-width: 320px) {
  .card-content .text {
    font-size: 25px;
  }
  .content-area {
    margin-bottom: 15px;
  }
  .logo {
    width: 100px;
  }
  .auth-card {
    margin-top: 15px;
  }
}
